*, :root{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom right, #2c003e, #0f0f3d);
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh;
   margin: 0;
}

.container{
    background: rgba(255, 255, 255, 0.07);
    padding: 20px;
    border-radius: 15px;
    width: 420px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

h1{
    margin-bottom: 20px;
}

label {
    text-align: left;
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

select, textarea, button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: opacity 0.2s;
}

button:hover {
    opacity: 0.85;
}

.output {
    margin-top: 20px;
    text-align: left;
    background: rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 10px;
}

#actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#actions button{
    width: 40%;
    font-size: 14px;
}