*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    background-color: #121214;
    color: white;
}

body *, :root {
    font-family: Inter;
    line-height: 160%;/*Distanciamento entre paragráfos*/
}

header{
    padding-top: 32px;
    text-align: center;
}

header img{
    width: 15rem;
}


main{
    max-width: 36rem;
    width: 90%;
    margin:3rem auto;/*Automaticamente ele vai colocar no centro no left e right, e no topo e bottom 3rem*/
   
}

section {
        /*Esse 90deg quer dizer que vai começar da esquerda para direita, ou seja, a primeira cor que coloquei vai começar da esquerda e assim sucessivamente. Se eu mudar os deg, ele vai se ajeitando, por exemplo se eu colocar 0deg vai começar do bottom para cima*/
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
    border-radius: 0.625rem;
    padding-top: 4px;
}

section > div {
    background-color: #2A2634;
    padding: 2rem;
    padding-top: 1.5rem;
    border-radius: 0.5rem;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

/* Animações */
main section {
    opacity: 0;
    transform: translateY(2rem);

    animation-name: appear;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
}

@keyframes appear {
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}

form {
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
    margin: 1.25rem 0;
}

input, select {
    all: unset;
    border: 2px solid #9147ff;
    border-radius: 0.5rem;
    padding: 0.675rem;
    font-size: 0.875rem;
    background-color: #00000066;
}

input {
    flex: 1;
}

button {
    width: 100%;
    border: 0;
    background-image: linear-gradient(245deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
    padding: 0.675rem;
    border-radius: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.12px;
    transition: all 0.3s;
}

button:hover{
    cursor: pointer;
    transform: translateY(-2px);/*O Elemento irá pra cima*/
    box-shadow: 0 5px 1rem rgba(255, 248, 107, 0.2);
}

button:disabled{
    transition: initial;
    transform: initial;
    box-shadow: initial;
    color: black;
    cursor: not-allowed;
}

#aiResponse {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    padding: 1.25rem;
    border-left: 4px solid #43E7AD;
}

#aiResponse ul {
    padding-left: 1.5rem;
    opacity: 0.8;
}

#aiResponse p {
    color: white;
}

.loading {
    animation: pulse 1s infinite;
}

.hidden {
    display: none;
}

@keyframes pulse{
    50%{
        opacity: 0.5;
    }
}